<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric.integration_tests.axt">

  <uses-sdk
      android:targetSdkVersion="27"/>

  <application>
    <activity android:name="org.robolectric.integration_tests.axt.ActivityTestRuleTest$TranscriptActivity" />
    <activity android:name=".EspressoActivity"/>
    <activity android:name=".ActivityScenarioTest$LifecycleOwnerActivity"/>
    <activity android:name=".ActivityScenarioTest$TranscriptActivity" android:exported = "true"/>
    <activity-alias
                    android:name=".ActivityScenarioTestAlias"
                    android:targetActivity=".ActivityScenarioTest$TranscriptActivity" />
    <activity android:name=".IntentsTest$ResultCapturingActivity"/>
  </application>

  <instrumentation
      android:name="androidx.test.runner.AndroidJUnitRunner"
      android:targetPackage="org.robolectric.integration.axt"/>

</manifest>
