#if ($api >= 17)
package org.robolectric.shadows;

import android.os.UserHandle;
import android.os.UserManager;

import org.robolectric.annotation.Implements;

import java.util.Collections;
import java.util.List;

@Implements(UserManager.class)
public class ShadowUserManager {

#if ($api >= 21)
  public List<UserHandle> getUserProfiles (){
    return Collections.emptyList();
  }
#end

}
#end