#set($Integer = 0)
#set($apiLevel = $Integer.parseInt($apiLevel))

package org.robolectric.shadows;

import android.text.format.Time;
import org.robolectric.annotation.Implementation;
import org.robolectric.annotation.Implements;
import org.robolectric.annotation.RealObject;
import org.robolectric.util.Strftime;

import java.util.Calendar;
import java.util.Locale;
import java.util.TimeZone;

@Implements(Time.class)
public class ShadowTime {
  @RealObject
  private Time time;

  @Implementation
  public void setToNow() {
    time.set(ShadowSystemClock.currentTimeMillis());
  }

#if ($apiLevel < 21)
  @Implementation
  public String format(String format) {
    return Strftime.format(format, getCalendar().getTime(), Locale.getDefault(), TimeZone.getTimeZone(time.timezone));
  }

  private Calendar getCalendar() {
    Calendar c = Calendar.getInstance(TimeZone.getTimeZone(time.timezone));
    c.set(time.year, time.month, time.monthDay, time.hour, time.minute, time.second);
    c.set(Calendar.MILLISECOND, 0);
    return c;
  }
#end
}
