package org.robolectric.shadows;

import android.media.SoundPool;
import org.robolectric.annotation.Implements;
import org.robolectric.annotation.RealObject;
import org.robolectric.util.ReflectionHelpers;

#if ($api >= 21)
import android.media.AudioAttributes;
#end

@Implements(SoundPool.class)
public class ShadowSoundPool {
  @RealObject
  SoundPool realObject;

#if ($api >= 23)
  public void __constructor__(int maxStreams, AudioAttributes attributes) {
    ReflectionHelpers.setField(realObject, "mLock", new Object());
  }
#end

}
