package org.robolectric.shadows;

#if ($api >= 21)
import android.view.RenderNode;
import org.robolectric.annotation.Implementation;
import org.robolectric.annotation.Implements;

/**
 * Shadow for {@link android.view.RenderNode}.
 */
@Implements(value = RenderNode.class, isInAndroidSdk = false)
public class ShadowRenderNode {
  private float translationX;
  private float translationY;
  private float translationZ;
  private float pivotX;
  private float pivotY;

  @Implementation
  public boolean setTranslationX(float translationX) {
    this.translationX = translationX;
    return true;
  }

  @Implementation
  public boolean setTranslationY(float translationY) {
    this.translationY = translationY;
    return true;
  }

  @Implementation
  public boolean setTranslationZ(float translationZ) {
    this.translationZ = translationZ;
    return true;
  }

  @Implementation
  public float getTranslationX() {
    return translationX;
  }

  @Implementation
  public float getTranslationY() {
    return translationY;
  }

  @Implementation
  public float getTranslationZ() {
    return translationZ;
  }

  @Implementation
  public boolean setPivotX(float pivotX) {
    this.pivotX = pivotX;
    return true;
  }

  @Implementation
  public float getPivotX() {
    return pivotX;
  }

  @Implementation
  public boolean setPivotY(float pivotY) {
    this.pivotY = pivotY;
    return true;
  }

  @Implementation
  public float getPivotY() {
    return pivotY;
  }
}

#else
public class ShadowRenderNode {
  // Stub class, does not exist pre-21
}
#end
