package org.robolectric.shadows;

#if ($api >= 19)

import android.app.ResourcesManager;

import org.robolectric.annotation.Implements;
import org.robolectric.annotation.Resetter;
import org.robolectric.util.ReflectionHelpers;

@Implements(value = ResourcesManager.class, isInAndroidSdk = false)
public class ShadowResourceManager {

  @Resetter
  public static void reset() {
    ReflectionHelpers.setStaticField(ResourcesManager.class, "sResourcesManager", null);
  }
}
#else
public class ShadowResourceManager {
  // Dummy class, this was added in API19
}
#end