version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      android-gradle-plugin:
        patterns:
          - "com.android.tools:common"
          - "com.android.tools.build:gradle*"
      androidx-test:
        patterns:
          - "androidx.test*"
      androidx:
        patterns:
          - "androidx.*"
    ignore:
      # don't auto update nativeruntime-dist-compat since it needs
      # to be updated with code changes together
      - dependency-name: "org.robolectric:nativeruntime-dist-compat"
