[submodule "nativeruntime/external/sqlite"]
	path = nativeruntime/external/sqlite
	url = https://android.googlesource.com/platform/external/sqlite
	branch = android11-release

[submodule "nativeruntime/external/icu"]
	path = nativeruntime/external/icu
	url = https://github.com/unicode-org/icu
	branch = release-69-1
	shallow = false
