bin/
out/
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/misc.xml
.idea/.name
robolectric.iml
tmp/
target/
pages
.DS_Store
local.properties
.project
.classpath
.settings
*.iws
*.iml
*.ipr
*.orig
*.swp
*~
\#*\#
