<?xml version="1.0" encoding="utf-8"?>
<!--
  Manifest for instrumentation tests
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric.integrationtests.ctesque">
  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="27" />

  <application />

  <instrumentation
      android:name="androidx.test.runner.AndroidJUnitRunner"
      android:targetPackage="org.robolectric.testapp">
  </instrumentation>

</manifest>
