<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric.testapp"
    android:versionCode="123"
    android:versionName="aVersionName">
    <uses-sdk android:targetSdkVersion="23"/>

    <application
        android:theme="@style/Theme.Robolectric" android:enabled="true">
      <activity android:name=".TestActivity" android:exported="true">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER"/>
            <action android:name="android.intent.action.MAIN"/>
        </intent-filter>
      </activity>
      <activity android:name=".DisabledTestActivity" android:enabled="false" android:exported="true"/>
      <service android:name=".TestService" android:exported="true"/>
    </application>
</manifest>
