<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric"
    android:versionCode="123"
    android:versionName="aVersionName">
  <uses-sdk android:targetSdkVersion="23"/>

  <application
      android:theme="@style/Theme.Robolectric">
    <activity android:name=".DisabledTestActivity" android:enabled="false"/>
    <activity android:name=".TestActivity"/>
  </application>
</manifest>
