<?xml version="1.0" encoding="utf-8"?>
<!--
  Manifest for tests. Required because the AOSP resource merger requires leaf nodes to provide
  the following elements directly:-
  <uses-sdk>
  <uses-permission>
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric">
  <uses-sdk android:targetSdkVersion="27"/>

  <!-- For SettingsTest -->
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>
</manifest>
