<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric.integrationtests.simulator">
    <application android:label="Simulator Test App">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>