package org.robolectric.fakes;

import android.hardware.Sensor;
import android.hardware.SensorEventListener;
import android.hardware.SensorManager;
#if ($api >= 18)
import android.hardware.TriggerEventListener;
#end
import android.os.Handler;

import java.util.ArrayList;
import java.util.List;

/**
 * Robolectric implementation of {@link android.hardware.SensorManager}.
 */
public class RoboSensorManager extends SensorManager {

  @Override
  public List<Sensor> getSensorList(int type) {
    return new ArrayList<Sensor>();
  }

  @Override
  protected void unregisterListenerImpl(SensorEventListener listener, Sensor sensor) {
  }

#if ($api >= 19)
  @Override
  protected boolean registerListenerImpl(SensorEventListener listener, Sensor sensor, int delayUs, Handler handler, int maxBatchReportLatencyUs, int reservedFlags) {
    return false;
  }

  @Override
  protected boolean flushImpl(SensorEventListener listener) {
    return false;
  }
#else
  @Override
  protected boolean registerListenerImpl(SensorEventListener listener, Sensor sensor, int delayUs, Handler handler) {
    return false;
  }
#end

#if ($api >= 18)
  @Override
  protected boolean requestTriggerSensorImpl(TriggerEventListener listener, Sensor sensor) {
    return false;
  }

  @Override
  protected boolean cancelTriggerSensorImpl(TriggerEventListener listener, Sensor sensor, boolean disable) {
    return false;
  }
#end

  @Override
  protected List<Sensor> getFullSensorList() {
    return null;
  }
}
