<?xml version="1.0" encoding="utf-8"?>
<!--
  Manifest for ctesque tests
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robolectric.ctesque">

  <uses-sdk android:targetSdkVersion="27"/>

  <application android:theme="@style/Theme.Robolectric">
    <activity
        android:name="android.app.ActivityWithAnotherTheme"
        android:theme="@style/Theme.AnotherTheme"/>
    <activity android:name="android.app.ActivityWithoutTheme"/>
  </application>
</manifest>
