<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="org.robolectric.nativeruntime">

  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="33"/>
  <application />
</manifest>
