name: Graphics Tests

on:
  push:
    branches: [ master, 'robolectric-*.x' ]
    paths-ignore:
      - '**.md'

  pull_request:
    branches: [ master, google ]
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  graphics_tests:
    strategy:
      matrix:
        device: [ macos-12, ubuntu-22.04, self-hosted ]
    runs-on: ${{ matrix.device }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/gradle-build-action@v2.10.0

      - name: Run unit tests
        run: |
          SKIP_ERRORPRONE=true SKIP_JAVADOC=true ./gradlew :integration_tests:nativegraphics:testDebugUnitTest \
          --info --stacktrace --continue \
          --parallel \
          --no-watch-fs \
          -Drobolectric.alwaysIncludeVariantMarkersInTestName=true \
          -Dorg.gradle.workers.max=2

      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test_results
          path: '**/build/test-results/**/TEST-*.xml'

