name: Tests

on:
  push:
    branches: [ master, 'robolectric-*.x' ]

  pull_request:
    branches: [ master, google ]

permissions:
  contents: read

env:
  cache-version: v1

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - uses: gradle/gradle-build-action@v2

      - name: Cache ICU build output
        id: cache-icu
        uses: actions/cache@v3
        with:
          path: ~/icu-bin
          key: ${{ runner.os }}-${{ runner.arch }}-icu-${{ hashFiles('nativeruntime/external/icu/**') }}

      - name: Build ICU
        if: steps.cache-icu.outputs.cache-hit != 'true'
        run: |
          cd nativeruntime/external/icu/icu4c/source
          CFLAGS="-fPIC" CXXFLAGS="-fPIC" ./runConfigureICU Linux --enable-static --prefix=$HOME/icu-bin
          make -j4
          make install

      - name: Install Ninja
        run: sudo apt-get install ninja-build

      - name: Build
        run: |
          ICU_ROOT_DIR=$HOME/icu-bin SKIP_ERRORPRONE=true SKIP_JAVADOC=true \
          ./gradlew clean assemble testClasses --parallel --stacktrace --no-watch-fs

  unit-tests:
    runs-on: ubuntu-20.04
    needs: build
    strategy:
      fail-fast: false
      matrix:
        api-versions: [ '16,17,18', '19,21,22', '23,24,25', '26,27,28', '29,30,31', '32,33' ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - uses: gradle/gradle-build-action@v2

      - name: Cache ICU build output
        id: cache-icu
        uses: actions/cache@v3
        with:
          path: ~/icu-bin
          key: ${{ runner.os }}-${{ runner.arch }}-icu-${{ hashFiles('nativeruntime/external/icu/**') }}

      - name: Install Ninja
        run: sudo apt-get install ninja-build

      - name: Run unit tests
        run: |
          ICU_ROOT_DIR=$HOME/icu-bin SKIP_ERRORPRONE=true SKIP_JAVADOC=true ./gradlew test \
          --info --stacktrace --continue \
          --parallel \
          --no-watch-fs \
          -Drobolectric.enabledSdks=${{ matrix.api-versions }} \
          -Drobolectric.alwaysIncludeVariantMarkersInTestName=true \
          -Dorg.gradle.workers.max=2

      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test_results_${{ matrix.api-versions }}
          path: '**/build/test-results/**/TEST-*.xml'

  instrumentation-tests:
    runs-on: macos-12
    timeout-minutes: 60
    needs: build

    strategy:
      # Allow tests to continue on other devices if they fail on one device.
      fail-fast: false
      matrix:
        api-level: [ 29, 33 ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - uses: gradle/gradle-build-action@v2

      - name: Run instrumentation tests
        # We can't run tests by UTP with multi workers in GitHub Actions,
        # see https://issuetracker.google.com/issues/193118030.
        run: |
          ./gradlew nexusOneApi${{ matrix.api-level }}DebugAndroidTest \
            -Dorg.gradle.workers.max=2 \
            -Pandroid.sdk.channel=3 \
            -Pandroid.testoptions.manageddevices.emulator.gpu="swiftshader_indirect"

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ matrix.api-level }}-${{ steps.determine-target.outputs.TARGET }}-${{ matrix.shard }}
          path: |
            **/build/reports/*
            **/build/outputs/*/connected/*
